<div style="font-family: Georgia, serif">
    <p>
        Thank you for your application to our open @job.title position here at Conservation Colorado. We received a lot of
        qualified applicants for this position and had to make a hard decision.
    </p>
    <p>
        I am sorry to inform you that you have not been selected for an interview for this role.
    </p>
    <p>
        Best wishes for a successful job search. Thank you again for the time you invested applying and for your interest in
        working with us at Conservation Colorado. We encourage you to apply to our open positions in the future.
    </p>
</div>
