<div style="font-family: Georgia, serif; inline-size: 550px;">
    <p>
        We're following up on your application to our open @job.title position here at<br>
        Conservation Colorado. We received a lot of qualified applicants for this position<br>
        and had to make a hard decision.
    </p>
    <p>
        We're sorry to inform you that you have not been selected for an interview for this role.
    </p>
    <p>
        Best wishes for a successful job search. Thank you again for the time you invested applying<br>
        and for your interest in working with us. We encourage you to apply again in the future!
    </p>
</div>
