<div style="font-family: Georgia, serif">
    <p>
        Thanks for taking the time to apply to our open @job.title position.
    </p>
    <p>
        We're emailing you to let you know that we have received your application. Our team is reviewing applications as
        they come in. We thoroughly review each application we receive. If you are selected for interview, we'll send
        you an invitation to schedule a time for us to chat. Regardless, we'll be in touch about where you are in the
        process.
    </p>
    <p>
        We'll talk soon!
    </p>
</div>
